@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #26272b;
}

.card-box:after {
  border-radius: inherit;
  z-index: 3;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  box-shadow: 0 -28px 84px -24px #e2e8ff1f inset;
  background: radial-gradient(
      103.78% 100% at 50% 0%,
      rgba(118, 146, 255, 0) 80.55%,
      rgba(122, 150, 255, 0.04) 100%
    ),
    radial-gradient(
      120.05% 100% at 50% 0%,
      rgba(226, 232, 255, 0) 33.78%,
      rgba(226, 232, 255, 0.08) 100%
    ),
    rgba(226, 232, 255, 0.01);
}

.breathing-text {
  font-size: 24px;
  font-weight: bold;
  color: rgb(66, 72, 116);
  background: linear-gradient(
    270deg,
    rgba(226, 232, 255, 0) 0%,
    rgb(226, 232, 255) 50%,
    rgba(226, 232, 255, 0) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: breathing 8s cubic-bezier(0.6, 0.6, 0, 1) infinite;
  display: inline-block;
}

@keyframes breathing {
  0%,
  100% {
    opacity: 0.7;
    transform: translateX(0);
  }
  50% {
    opacity: 1;
    transform: translateX(-10px);
  }
}

.card-border::before {
  border: 1px solid rgba(226, 232, 255, 0.1);
  content: '';
  left: 0;
  top: 0;
  position: absolute;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: inherit;
  pointer-events: none;
}

.card-border {
  border-radius: 10px;
  background: rgba(226, 232, 255, 0.01);
  padding: 8px;
  position: relative;
  width: 100%;
  isolation: isolate;
  overflow: hidden;
}

.card::before {
  content: '';
  border-radius: 10px; /* Adjust to control shadow size */
  position: absolute;
  top: 7px; /* Adjust to control shadow size */
  left: -7px; /* Adjust to control shadow size */
  width: 100%;
  height: 100%;
  background-color: #2e7d3287;
  z-index: -1; /* Put the shadow behind the main div */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.highlight-tile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: '2px solid black';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
